
html, body {
    margin: 0; 
    height: 100%; 
}

.class_body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/fondo_vaca.png");
}

/* INDEX */

.button_index{
    background-color:  #2f2c79d2;
    padding: 3rem;
    color: pink;
    border-radius: 5rem;
    border: 1rem;
    font-size: 6rem;
    margin: 1rem;

}

/* PAGINA 1 */
.cont_p1{
    margin: 1rem;
    padding: 1rem;
    border-radius: 5rem;
    background-color: #2f2c79d2;
    color: pink;
}


.button_pagina1{
    color: black;
    background-color: pink;  
    border-radius: 50%;
    width: auto;
    padding: 1rem;
    font-size: 4rem;
    color: #2f2c79d2;
                    }

.titulo_p1{
        font-size: 8cqb;
                    }
                    
.text_p1{
        font-size: 4rem;
                    }

/* PAGINA 2 */
    
.button_pagina2{
    color: black;
    background-color: pink;   
    border-radius: 50%;
    width: 100%;
    padding: 2rem;
    font-size: 4rem;
    color: #2f2c79d2;}

.img_p2{

        height: auto;
        width: 100%;
        margin: 1rem;
        object-fit: cover;
        border-radius: 50%;
      
}

.img_p3{

    height: auto;
    width: 50%;
    margin: 1rem;
    object-fit: cover;
    border-radius: 50%;
    
  
}


/* PAGINA 4 */
.class_body_p4{
   
    background-image: url("../img/fondo_vaca.png");
}